body {
    position: relative;
    font-family: Georgia,sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #990000;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

#app {
    min-width: 40%;
    max-width: 50%;
    margin: auto;
    text-align: center;
    background: rgba(255,255,255,0.3);
    border-radius:5px;
    padding-top:20px;
}

#location{
    min-height:10px;
}

#currSys{
    margin-left:5px;
}

#optionalSys {
    margin-left: 5px;
}

    #optionalSys:hover {
        background: rgba(255,255,255,0.7);
    }

#icon{
    border-radius:9px;
    border:3px solid darkred;
}

#footer::after {
    content: "";
    clear: both;
    display: table;
}

#summary {
    width: 30%;
    float: left;
    padding: 15px;
}

#wind {
    width: 45%;
    float: left;
    padding: 15px;
}

#humidity {
    width: 25%;
    float: left;
    padding: 15px;
}

#summarytext {
    background-color: lightgrey;
    background: rgba(255,255,255,0.5);
    height:90px;
    padding-top:30px;
    border-radius:5px;
}

#humiditytext {
    background-color: lightgrey;
    background: rgba(255,255,255,0.5);
    height: 60px;
    padding-top: 15px;
    border-radius: 0 0 5px 5px;
    margin-top: 0;
}

#wnd {
    background-color: lightgrey;
    background: rgba(255,255,255,0.5);
    height: 60px;
    padding-top: 15px;
    border-radius: 0 0 5px 5px;
    margin-top:0;
    font-family:Georgia, sans-serif;
    color:inherit;
    font-size:inherit;
    font-weight:inherit;
}

#optionalSpeedSys{
  color:#ffb3b3;
}

#optionalSpeedSys:hover {
        background: rgba(255,255,255,0.9);
    }

.result-box{
  background-color:rgba(255,255,255,0.8);
  margin-bottom:0;height:30px;
  padding-bottom:5px;
  border-radius:5px 5px 0 0;
}
