body {
    position: relative;
    font-family: Georgia,sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #990000;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

/* the central box of the app */
#app {
    min-width: 40%;
    max-width: 50%;
    margin: auto;
    text-align: center;
    background: rgba(255,255,255,0.3);
    border-radius:5px;
    padding-top:20px;
}

/* city */
#location{
    min-height:10px;
}

/* icon showing the type of weather */
#icon{
    border-radius:9px;
    border:3px solid darkred;
}

/* temperature div */
.temp-div{
  font-size:24px;
  padding:10px;
}

/* current type of temperature */
#currSys{
    margin-left:5px;
}

/* box for alternative temperature system */
#optionalSys {
    margin-left: 5px;
}

    #optionalSys:hover, #optionalSpeedSys:hover {
        background: rgba(255,255,255,0.7);
    }


/* those options to transform to the metric system */
.optional{
  color:#ff0000;
  cursor: pointer;
}

/* box with the description */
#summary {
    width: 30%;
}

/* weather description text*/
#summarytext {
    height:90px;
    padding-top:30px;
    border-radius:5px;
}

/* dimensions wind box */
#wind {
    width: 45%;
}

/* dimensions humidity box */
#humidity {
    width: 25%;
}

/* float the bottom divs to the left */
.float-left{
  float: left;
  padding: 15px;
}

/* clearfix */
#footer::after {
    content: "";
    clear: both;
    display: table;
}

/* background of the tiles containing information */
.tiles{
  background-color: lightgrey;
  background: rgba(255,255,255,0.5);
}

/* dimensions of the tiles containing information */
.text-tiles{
  height: 60px;
  padding-top: 15px;
  border-radius: 0 0 5px 5px;
  margin-top: 0;
}


/* it contains the boxes with the type of information (wind, humidity) */
.result-box{
  background-color:rgba(255,255,255,0.8);
  margin-bottom:0;height:30px;
  padding-bottom:5px;
  border-radius:5px 5px 0 0;
}
